<navbar-financa></navbar-financa>
<div *ngIf="!isEdit">
  <p class="lead bg-info p-2 text-light" style="text-align: center;"><i class="fa fa-save"></i>
  <strong> Adicione um gasto </strong></p>
</div>

<div *ngIf="isEdit">
  <p class="lead bg-info p-2 text-light" style="text-align: center;"><i class="fa fa-edit"></i>
  <strong> Atualize um gasto </strong></p>
</div>
<form [formGroup]="form" class="container mt-5" (ngSubmit)="onSubmit()">
  <div class="row justify-content-center">

    <div class="alert alert-info" role="alert" *ngIf="successResponse">
      <i class="fa fa-check-circle"></i> Salvo
    </div>

    <div class="col-6">
      <div>
        <label for="gasto" class="form-label">Gasto <span class="text-danger"> * </span> </label>
        <input type="text" name="gasto" id="gasto" formControlName="gasto" class="form-control" maxlength="10" placeholder="ex: Cinema...">
      </div>

      <span *ngIf="form.controls['gasto'].errors" class="text-danger mt-1" style="font-size: 10px;">
          Campo necessário
      </span>

      <div class="mt-4 col">
        <label for="descricao">Descrição</label>
        <textarea name="descricao" id="descricao"
          cols="70" rows="10" formControlName="descricao" style="resize: none;" class="form-control" maxlength="50" placeholder="ex: Ver o filme..."></textarea>
      </div>

    </div>
    <div class="col-6">

      <div class="form-group">
        <label for="valor" class="form-label">Valor <span class="text-danger"> * </span> </label>
        <input type="number" name="valor" id="valor" class="form-control" placeholder="R$" formControlName="valor" min="1" max="5000">
      </div>

      <span *ngIf="form.controls['valor'].errors?.['required']" class="text-danger mt-1" style="font-size: 10px;">
        Campo obrigatório
      </span>

      <span *ngIf="form.controls['valor'].errors?.['max'] || form.controls['valor'].errors?.['min']" class="text-danger mt-1" style="font-size: 10px;">
        Valor deve ser um número maior que R$1 e menor que R$5000,00
      </span>

      <div class="mt-5">
        <label for="dataInicio" class="form-label">Data

          <a tooltip="Caso a data não for inserida, será considerada a atual" class="text-info">
            <i class="bi bi-info-circle-fill"></i>
          </a>

          </label>
        <input type="date" name="dataInicio" id="dataInicio" class="form-control" formControlName="dataInicio">
        <div *ngIf="form.controls['dataInicio'].errors" class="text-danger mt-1" style="font-size: 10px;">
          Apenas gastos do ano de {{ year }}
        </div>
      </div>

      <div class="form-check mt-3">
        <input type="checkbox" name="isParcelado" class="form-check-input" formControlName="isParcelado">
        <label for="isParcelado" class="form-check-label"> Parcelas?</label>
      </div>

      <div class="form-group" *ngIf="this.form.value.isParcelado">
        <hr>
        <label for="valorParcelas" class="form-label">Valor das parcelas <span class="text-danger"> * </span></label>
        <select class="form-select form-select-sm" formControlName="valorParcelas">
          <option value="2">2x</option>
          <option value="3">3x</option>
          <option value="4">4x</option>
          <option value="5">5x</option>
          <option value="6">6x</option>
          <option value="7">7x</option>
          <option value="8">8x</option>
          <option value="9">9x</option>
          <option value="10">10x</option>
          <option value="11">11x</option>
          <option value="12">12x</option>
        </select>

        <span *ngIf="form.controls['valorParcelas'].pristine" class="text-danger mt-1" style="font-size: 10px;">
          Quando se opta por parcelas, a quantidade deve ser inserida!
        </span>
      </div>
    </div>
  </div>
  <hr>
  <button class="btn btn-outline-success btn-sm" type="submit" [disabled]="form.invalid" *ngIf="!isEdit"><i class="bi bi-box-arrow-down"></i> Salvar </button>
  <button class="btn btn-outline-success btn-sm" type="submit" [disabled]="form.invalid" *ngIf="isEdit"><i class="bi bi-box-arrow-down"></i> Atualizar </button>
  <button class="btn btn-outline-info btn-sm" type="button" routerLink="/financas/pessoais"><i class="bi bi-arrow-return-left"></i> Lista </button>
</form>
