<navbar-financa></navbar-financa>
<div>
  <img src="./../../../../../assets/renda.jpg" class="img-fluid">
</div>
<div id="bar">
  <form class="container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Descrição</th>
          <th scope="col">Tipo</th>
          <th scope="col">Renda</th>
          <th scope="col">Valor</th>
        </tr>
      </thead>
      <tbody *ngFor="let rendas of rendas">
        <tr>
          <td> {{ rendas.descricao }} </td>
          <td>{{ rendas.tipoRenda }}</td>
          <td>{{ rendas.tipoRenda == "Ativa" ? rendas.ativa : rendas.passiva }}</td>
          <td>{{ rendas.valor | currency: 'R$' }}</td>
          <td>
            <button class="btn btn-outline-warning btn-sm me-1" routerLink="{{ rendas.id }}"><i class="fa fa-edit"></i></button>
            <button class="btn btn-outline-danger btn-sm" (click)="openModal(rendas)" data-bs-toggle="modal" data-bs-target="#openModal"><i class="fa fa-trash"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-outline-success btn-sm" routerLink="/financas/pessoais/renda/new"> Adicionar </button>
    <button class="btn btn-outline-info btn-sm" routerLink="/financas/pessoais"> Gasto </button>
  </form>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="openModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content" *ngIf="rendaDelete">
      <div class="modal-header">
        <h5 class="modal-title">{{ rendaDelete.tipoRenda }} - {{rendaDelete.descricao}}</h5>
        <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="lead">Deseja realmente deletar esta renda?</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-danger" (click)="deletarRenda(rendaDelete)" data-bs-dismiss="modal">Deletar</button>
      </div>
  </div>
</div>
