<navbar-financa></navbar-financa>
<div>
  <p class="lead bg-info text-light p-3 shadow" style="text-align: center;">
    <strong> Renda </strong>
  </p>
</div>
<div>
  <form class="container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Descrição</th>
          <th scope="col">Tipo</th>
          <th scope="col">Renda</th>
          <th scope="col">Valor</th>
        </tr>
      </thead>
      <tbody *ngFor="let rendas of rendas | paginate: { itemsPerPage: page.size,currentPage: this.current, totalItems: page.totalElements }">
        <tr>
          <td> {{ rendas.descricao | maxDescribeLenght}} </td>
          <td>{{ rendas.tipoRenda }}</td>
          <td>{{ rendas.tipoRenda == "Ativa" ? rendas.ativa : rendas.passiva }}</td>
          <td>{{ rendas.valor | currency: 'R$' }}</td>
          <td>
            <button class="btn btn-outline-warning btn-sm me-1" routerLink="{{ rendas.id }}"><i class="bi bi-pencil-square"></i></button>
            <button class="btn btn-outline-danger btn-sm" (click)="openModal(rendas)" data-bs-toggle="modal" data-bs-target="#openModal"><i class="bi bi-trash"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
    <pagination-controls
      (pageChange)="changePage($event)"
      [responsive]="true"
      previousLabel="Anterior"
      nextLabel="Próximo"
    ></pagination-controls>
    <button class="btn btn-outline-success btn-sm" routerLink="/financas/pessoais/renda/new"><i class="bi bi-save"></i> Adicionar </button>
    <button class="btn btn-outline-info btn-sm" routerLink="/financas/pessoais"><i class="bi bi-arrow-return-left"></i> Gasto </button>
  </form>
</div>

<footer class="bg-light text-dark p-2 mt-3 fixed-bottom" style="text-align: center;">
  <p>Total Renda: <Strong> {{ totalRenda | currency: 'R$' }} </Strong></p>
</footer>

<div class="modal fade" tabindex="-1" role="dialog" id="openModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content" *ngIf="rendaDelete">
      <div class="modal-header">
        <h5 class="modal-title">{{ rendaDelete.tipoRenda }} - {{rendaDelete.descricao}}</h5>
        <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="lead">Deseja realmente deletar esta renda?</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-danger" (click)="deletarRenda(rendaDelete)" data-bs-dismiss="modal">Deletar</button>
      </div>
  </div>
</div>
