<navbar-financa></navbar-financa>
<div *ngIf="!isEdit">
  <p class="lead bg-info p-2 text-light" style="text-align: center">
    <i class="fa fa-save"></i> <strong> Adicione um gasto </strong>
  </p>
</div>

<div *ngIf="isEdit">
  <p class="lead bg-info p-2 text-light" style="text-align: center">
    <i class="fa fa-edit"></i> <strong> Atualize um gasto </strong>
  </p>
</div>
<form [formGroup]="form" class="container mt-5" (ngSubmit)="onSubmit()">
  <div class="row justify-content-center">
    <div class="alert alert-info" role="alert" *ngIf="successResponse">
      <i class="fa fa-check-circle"></i> Salvo
    </div>

    <div class="col-6">
      <div>
        <label for="gasto" class="form-label"
          >Gasto <span class="text-danger"> * </span>
        </label>
        <input
          type="text"
          name="gasto"
          id="gasto"
          formControlName="gasto"
          class="form-control"
          maxlength="10"
          placeholder="ex: Cinema..."
        />
      </div>

      <span
        *ngIf="form.controls['gasto'].errors"
        class="text-danger mt-1"
        style="font-size: 10px"
      >
        Campo necessário
      </span>

      <div class="mt-4 col">
        <label for="descricao" class="mb-1">Descrição</label>
        <textarea
          name="descricao"
          id="descricao"
          cols="70"
          rows="10"
          formControlName="descricao"
          style="resize: none"
          class="form-control"
          placeholder="ex: Ver o filme..."
        ></textarea>
      </div>
    </div>
    <div class="col-6">
      <div *ngIf="isEdit" class="mt-4 border-bottom">
        <span class="text-danger fs-6">Não é possível editar valores</span>
      </div>

      <div *ngIf="!isEdit">
        <label for="dataInicio" class="form-label"
          >Data

          <a
            tooltip="Caso a data não for inserida, será considerada a atual"
            class="text-info"
          >
            <i class="bi bi-info-circle-fill"></i>
          </a>
        </label>
        <input
          type="date"
          name="dataInicio"
          id="dataInicio"
          class="form-control"
          formControlName="dataInicio"
        />
        <div
          *ngIf="form.controls['dataInicio'].errors"
          class="text-danger mt-1"
          style="font-size: 10px"
        >
          Apenas gastos do ano de {{ year }}
        </div>

        <valores-component [form]="valores"></valores-component>
      </div>
    </div>
  </div>
  <hr />
  <button
    class="btn btn-outline-success btn-sm"
    type="submit"
    [disabled]="form.invalid"
    *ngIf="!isEdit"
  >
    <i class="bi bi-box-arrow-down"></i> Salvar
  </button>
  <button
    class="btn btn-outline-success btn-sm"
    type="submit"
    [disabled]="form.invalid"
    *ngIf="isEdit"
  >
    <i class="bi bi-box-arrow-down"></i> Atualizar
  </button>
  <button
    class="btn btn-outline-info btn-sm"
    type="button"
    routerLink="/financas/pessoais"
  >
    <i class="bi bi-arrow-return-left"></i> Lista
  </button>
</form>
