<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-5">
      <div class="card text-light">
        <div class="card-header bg-success">
          Renda
        </div>
        <div class="card-body shadow bg-light text-dark">
          R$900,00
        </div>
        <div class="card-footer text-danger shadow bg-light">
          <strong> Insuficiente </strong>
        </div>
      </div>
    </div>
    <div class="col-5">
      <div class="card text-light">
        <div class="card-header bg-danger">
          Gastos fixos
        </div>
        <div class="card-body bg-light text-dark">
          R$1200,00
        </div>
        <div class="card-footer shadow bg-light text-dark">
          Inadimplência
        </div>
      </div>
    </div>
    <div class="col-2">
      <button class="btn btn-success btn-sm"> Editar renda </button>
      <br>
      <button class="btn btn-danger btn-sm mt-2"> Editar gastos fixos </button>
    </div>
  </div>
</div>
