<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-6">
      <div class="card text-light">
        <div class="card-header bg-success">
          Renda
        </div>
        <div class="card-body shadow bg-light text-dark">
          {{ rendaFixa | currency: 'R$' }}
          <button class="btn btn-success btn-sm float-end" routerLink="/financas/pessoais/renda/list"><i class="fa fa-edit"></i></button>
        </div>

        <div class="card-footer text-success shadow bg-light" *ngIf="suficiente">
          <strong> Suficiente </strong>
        </div>

        <div class="card-footer text-danger shadow bg-light" *ngIf="!suficiente">
          <strong> Insuficiente </strong>

          <a tooltip="Valor dos gastos mensais é menor do que a renda" class="text-danger">
            <i class="fa fa-info-circle"></i>
          </a>

        </div>

      </div>
    </div>
    <div class="col-6">
      <div class="card text-light">
        <div class="card-header bg-danger">
          Gastos fixos
        </div>
        <div class="card-body bg-light text-dark">
          R$1200,00
          <button class="btn btn-danger btn-sm float-end"><i class="fa fa-edit"></i></button>
        </div>
        <div class="card-footer shadow bg-light text-dark">
          Inadimplência
        </div>
      </div>
    </div>
  </div>
</div>
