<navbar></navbar>
<main>
  <div class="texts d-none d-md-block">
    <h1 class="display-5 text-center bg-dark text-light">Seja bem-vindo ao Investweb</h1>
  </div>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-3">
        <p class="lead text-center p-3 bg-info">Rendimentos 2021</p>
        <charts></charts>
      </div>
      <div class="col-3">
        <p class="lead text-center p-3 bg-info">Valores criptomoedas</p>
        <charts-cripto></charts-cripto>
      </div>
      <div class="col-3">
        <div class="card">
          <div class="card-header bg-info p-4">
            Vocẽ sabia?
          </div>
          <div class="card-body" style="text-align: justify;">
            Se pouca gente poupa, é ainda menor a quantidade de pessoas que sabe o caminho
            para começar a aplicar as próprias economias. Segundo a pesquisa, pouco mais de um
            terço da população (38%) diz conhecer algum tipo de produto oferecido por bancos e
            outras instituições.
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row container">
    <div class="col-6">
      <img src="../../assets/dinheiro-moedas.gif" class="img-fluid">
    </div>
    <div class="col-6">
      <h1 class="display-5">Por que investir?</h1>
      <p class="lead" style="text-align: justify;">Além de garantir tranquilidade financeira, poupar possibilita a
        realização de sonhos. Com hábitos de poupança e investindo adequadamente,
        uma pessoa pode aumentar seu patrimônio pessoal e familiar,
        aumentando as chances de alcançar seus objetivos.</p>
    </div>
  </div>
</main>
